/* Styles for the index/login/signup page */
body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 80px;
  }
  
  .container {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    display: block;
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Styles for the profile page */
  .profile {
    text-align: center;
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .profile p {
    color:#0056b3;
    font-weight: bold;
  }

  .subject-check-back {
      text-align: center;
      max-width: 800px;
      margin: 100px auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


  .profile ul li a {
    color: #007bff;
    transition: color 0.3s ease;
    font-weight: bold;
    border-bottom: 1px solid transparent;
  }

  .profile ul li a:hover {
    color: #0056b3; /* Change the color on hover */
    border-color: #007bff;
  }

  .profile ul {
    
    list-style-type: none;
    text-decoration: none!important; /* This line removes the underline */
    margin-top: 10px;
    padding: 10px;
    gap: 20px;
  }
  
  .profile li a {
    text-decoration: none!important; /* This line removes the underline */
  }

  ul {
    list-style-type: none;
    text-decoration: none!important;
    margin-top: 10px;
    padding: 10px;
    gap: 20px;

  }

  li {
    text-decoration: none!important;
  }

  .feed_body {
    margin-top: 20px;
  }

  .feed_body p {
    color: #0056b3;
  }
  .feed_body a {
    color: black;
    transition: color 0.3s ease;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    text-decoration: none!important;
  }
  
  .profile h1 {
    text-align: center;
    color: #333;
  }
  
  .profile img {
    display: block;
    max-width: 200px;
    height: auto;
    margin: 20px auto;
    border-radius: 30px;
  }
  
  /* Styles for the rank page */
  .rank {
    width: 100%;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .rank table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f9f9f9; /* Add a light background color */
    border: 1px solid #ccc; /* Add a border */
  }

  .rank table th {
    background-color: black; /* Change the background color of the table headers */
    color: #fff; /* Set the text color of the table headers to white */
    padding: 10px; /* Add padding to the table headers */
  }

  /* Styles for the rank page */
.rank table tr:nth-child(even) {
  background-color: #f2f2f2; /* Add a light background color to even rows */
}

/* Styles for the rank page */
.rank table th,
.rank table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center; /* Center the content within the table cells */
}

  .rank img{
    min-width: 500px;
    max-width: 500px;
  }
  @media only screen and (max-width: 600px) {
    .rank img{
      min-width: 200px;
      max-width: 200px;
    }
    .rank {
      width: 100%;
      margin: 100px auto;
      padding:10px;
    }
  }
    
  .rank h1 {
    text-align: center;
    color: #333;
  }
  
  .rank table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .rank table th,
  .rank table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }

  /* Feed styles */
  .feed {
    text-align: center;
    width: 100%;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  @media only screen and (max-width: 600px) {
    .feed img{
      min-width: 200px;
      max-width: 100px;
    }
    .feed {
      width: 100%;
      margin: 100px auto;
      padding:10px;
    }
  }

  .feed table {
    width: 100%;
    /* background-color: ; */
    border-collapse: collapse;
    margin-top: 20px;
    border:none; /* Add a border */
  }
   .feed_title{
    background-color: black; /* Add a light background color */
    color: white;
    padding: 20px;
    border-radius: 18px;
  
  }
  .feed table th {
    text-align: center;
     /* Change the background color of the table headers */
    color: #fff; /* Set the text color of the table headers to white */
    padding: 10px; /* Add padding to the table headers */
  }

  /* Styles for the rank page */
.feed table tr:nth-child(even) {
  background-color: #f2f2f2; /* Add a light background color to even rows */
}

/* Styles for the rank page */
.feed table th,
.feed table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center; /* Center the content within the table cells */
}


  .feed img{
    min-width: 500px;
    max-width: 500px;
  }
  @media only screen and (max-width: 600px) {
    .rank img{
      min-width: 200px;
      max-width: 200px;
    }
    .feed {
      width: 100%;
      margin: 100px auto;
      padding:10px;
    }
  }
    
  .feed h1 {
    text-align: center;
    color: whitesmoke;
  }
  
  .feed table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .feed table th,
  .feed table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }

  /* List of Feed Styles */
  .feed ul li a {
    color: #007bff;
    transition: color 0.3s ease;
    font-weight: bold;
    border-bottom: 1px solid transparent;
  }

  .feed ul li a:hover {
    color: #0056b3; /* Change the color on hover */
    border-color: #007bff;

  }

  .feed ul {
    
    list-style-type: none;
    text-decoration: none!important; /* This line removes the underline */
    margin-top: 10px;
    padding: 10px;
    gap: 20px;
  }
  
  .feed li a {
    text-decoration: none!important; /* This line removes the underline */
  }
  
  /* Styles for the upload_photo page */
  .upload-photo {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .upload-photo h1 {
    text-align: center;
    color: #333;
  }
  
  .upload-photo form {
    margin-top: 20px;
  }
  
  .upload-photo form input[type="file"] {
    margin-bottom: 10px;
  }
  
  /* Styles for the vote page */
  .vote {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .vote h1 {
    text-align: center;
    color: #333;
  }
  
  .vote img {
    display: block;
    max-width: 400px;
    height: auto;
    margin: 20px auto;
  }
  
  .vote form {
    margin-top: 20px;
  }
  
  .vote form button {
    display: inline-block;
    margin-right: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .submit-button {
    background-color: #333; /* Set your desired background color */
    color: white; /* Set your desired text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Add pointer cursor */
    font-size: 16px; /* Set font size */
}

.submit-button:hover {
    background-color: #333; /* Set your desired hover background color */
}